@{
    ViewData["Title"] = "Từ chối truy cập";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/styles/Auth/account.css" />

<div class="auth-page">
    <div class="auth-wrapper single-column">
        <div class="auth-main">
            <div class="auth-box text-center">
                <div class="auth-header">
                     <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">Bạn không có quyền truy cập tài nguyên này.</p>
                </div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay về trang chủ</a>
            </div>
        </div>
    </div>
</div>